/*
Theme Name: Capacious
Theme URI: https://www.canyonthemes.com/downloads/capacious
Author: canyonthemes
Author URI: https://www.canyonthemes.com
Description: Capacious  is a clean, responsive professional-looking multi-purpose theme with both responsive and retina ready. Capacious is built for businesses, web apps, or general company site to promote your services as well as suitable for any type of business houses, corporate offices etc. It offers a massive roster of features, implemented in order to improve and complement any website. 
Version: 0.0.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: capacious
Tags: blog, portfolio, one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images,theme-options, threaded-comments, translation-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

capacious is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Ts Grid
# Ts Global
# Normalize
# Typography
# Elements
# Forms
# Header
  # Navigation
  ## Links
  ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
  ## Posts and pages
  ## Comments
# Infinite scroll
# Media
  ## Captions
  ## Galleries
--------------------------------------------------------------*/
/*
Table Of Contents
1) Common Style
2) Header Section
3) About Us
4) Our chairman
5) Services Section
6) Clients Section
7) Whatwe Section
8) Team Section
9) Testimonial Section
10) Contact
11) Purchase Now
13) Preloader

  ===============================================*/

/*--------------------------------------------------------------

## Captions

--------------------------------------------------------------*/

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------

## Galleries

--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {

  display: inline-block;

  text-align: center;

  vertical-align: top;

  width: 100%;

}



.gallery-columns-2 .gallery-item {

  max-width: 50%;

}



.gallery-columns-3 .gallery-item {

  max-width: 33.33%;

}



.gallery-columns-4 .gallery-item {

  max-width: 25%;

}



.gallery-columns-5 .gallery-item {

  max-width: 20%;

}



.gallery-columns-6 .gallery-item {

  max-width: 16.66%;

}



.gallery-columns-7 .gallery-item {

  max-width: 14.28%;

}



.gallery-columns-8 .gallery-item {

  max-width: 12.5%;

}



.gallery-columns-9 .gallery-item {

  max-width: 11.11%;

}



.gallery-caption {

  display: block;

}

.sticky {

  display: block;

}

.bypostauthor {

  display: block;

}


/*--------------------------------------------------------------

# Alignments

--------------------------------------------------------------*/

.alignleft {

  display: inline;

  float: left;

  margin-right: 1.5em;

}



.alignright {

  display: inline;

  float: right;

  margin-left: 1.5em;

}



.aligncenter {

  clear: both;

  display: block;

  margin-left: auto;

  margin-right: auto;

}



/**
* Global Styles.
**/
/*
 1) - common style
 ----------------------------------------*/
.section-header h1{
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.section-header h1::before {
  border-bottom: 5px solid #00AEFF;
  content: " ";
  margin-left: 0;
  margin-right: 0;
  padding: 22px 0;
  position: absolute;
  width: 70px;
}
.section-header span{
  font-size: 13px;
  text-transform: uppercase;;
  color: #535353;
  font-weight: 500;
  margin: 0;
}
.section-padding{
  padding: 100px 0;
}
.over-bg{
  background: rgba(17, 33, 52, 0.8);
  height: 100%;
  width: 100%;
}
.ceo-section .container,
.team-section .container,
.clients-section .client-list,
.header-section .social-links{
  position: relative;
  z-index: 2;
}
.header-space {
  clear: both;
  padding: 49px 0;
}
.entry-header h1{
  font-size: 28px;
}
.p-all-0{
  padding: 0;
}

 /*
 2) Header Section
 ----------------------------------------*/
 .top-header{
   background: #112134;
   position: relative;
   overflow: hidden;
 }
.contact-detail2{
  margin: 0;
}
.contact-detail2 i{
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 3px 5px;
}
.contact-detail2 li {
  list-style: outside none none;
  float: left;
  padding: 10px 0;
  margin-bottom: 0;
  margin-right: 35px;
}
.contact-detail2 li a {
  color: #FFF;
  font-size: 13px;
  font-weight: 300;
}
.social-links  ul li{
  display:inline;
}
.social-links ul li a{
  line-height: 0;
  font-size: 0;
  color: transparent;
}
.social-links  ul li a:hover{
  color: #00AEFF
}
.social-links li:last-child {
  margin-right: 0;
}
.social-links  ul li a:before {
  content: "\f0c1";
  font-family: FontAwesome, sans-serif;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  line-height: 15px;
  padding: 3px 5px;
  transition: color 0.3s ease-in-out 0s;
  vertical-align: middle;
}
.social-links  ul li a[href*="facebook.com"]:before {
  content: "\f09a";
}
.social-links ul li a[href*="twitter.com"]:before {
  content: "\f099";
}
.social-links ul li a[href*="linkedin.com"]:before {
  content: "\f0e1";
}
.social-links ul li a[href*="plus.google.com"]:before {
  content: "\f0d5";
}
.social-links ul li a[href*="youtube.com"]:before {
  content: "\f167";
}
.social-links ul li a[href*="dribbble.com"]:before {
  content: "\f17d";
}
.social-links ul li a[href*="pinterest.com"]:before {
  content: "\f0d2";
}
.social-links ul li a[href*="bitbucket.org"]:before {
  content: "\f171";
}
.social-links ul li a[href*="github.com"]:before {
  content: "\f113";
}
.social-links ul li a[href*="codepen.io"]:before {
  content: "\f1cb";
}
.social-links ul li a[href*="flickr.com"]:before {
  content: "\f16e";
}
.social-links ul li a[href$="/feed/"]:before {
  content: "\f09e";
}
.social-links ul li a[href*="foursquare.com"]:before {
  content: "\f180";
}
.social-links ul li a[href*="instagram.com"]:before {
  content: "\f16d";
}
.social-links ul li a[href*="tumblr.com"]:before {
  content: "\f173";
}
.social-links ul li a[href*="reddit.com"]:before {
  content: "\f1a1";
}
.social-links ul li a[href*="vimeo.com"]:before {
  content: "\f194";
}
.social-links ul li a[href*="digg.com"]:before {
  content: "\f1a6";
}
.social-links ul li a[href*="twitch.tv"]:before {
  content: "\f1e8";
}
.social-links ul li a[href*="stumbleupon.com"]:before {
  content: "\f1a4";
}
.social-links ul li a[href*="delicious.com"]:before {
  content: "\f1a5";
}
.social-links ul li a[href*="mailto:"]:before {
  content: "\f0e0";
}
.social-links ul li a[href*="skype.com"]:before {
  content: "\f17e";
}

.social-links ul li a[href*="dribble.com"]:before {
  content: "\f17d";
}

.navbar-static-top{
  background-color: rgba(0, 0, 0, 0.5);
  width:100%;
}
.affix{
  position: fixed !important;
  z-index: 999;
  top: 0;
  background-color: #fff;
  min-height: 70px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.affix .navbar-brand{
  padding: 10px 15px;
}
.affix .navbar-nav{
  border-bottom:none;
  margin: 15px 0 !important;
}
.navbar{
  padding:0;
  margin:0;
  min-height:90px;
  position: absolute;
  background: #fff;
}
.navbar-brand{
  opacity:1;
  width: 300px;
  height: auto!important;
  padding: 25px 15px;
}
.navbar-nav{
  margin:25px 0;
}
.navbar-nav li{
  margin-top:5px;
  margin-left:30px;
  opacity:1;
}
.navbar-nav li a.btn{
  padding: 6px 12px !important;
  font-weight: 600;
}
.navbar-nav li a.btn:hover{
  padding: 6px 25px;
  background: #00AEFF;
  color: #fff;
}
.navbar-nav .active a.btn{
  padding: 6px 25px;
  background: #00AEFF;
  color: #fff;
}
.navbar-nav li a{
  color:#4d4d4d;
  font-size:14px;
  text-transform:uppercase;
  padding:5px 0;
  transition: all 0.5s ease;
  font-weight:500;
  opacity:1;
  letter-spacing: 0.03em;
}
.navbar-nav li:last-child.btn a,
.navbar-nav li:last-child.btn a:hover{
  color: #fff;
}
.navbar-nav li:last-child.btn{
  position: relative;
  top: -7px;
}
.navbar-nav li a:hover{
  background:none;
  color:#00AEFF;
  transition: all 0.5s ease;
}
.navbar-nav .active a{
  background:none;
  color:#00AEFF;
  transition: all 0.5s ease;
}

.navbar-toggle .icon-bar{
  background:#fff;
}
.navbar-toggle {
    background-color: #00aeff;
}

.site-title {
  font-size: 35px;
  font-weight: 600;
}
.site-title a{
  color: #00AEFF;
}
.site-description{
  color: #737373;
}

  
 /*-- banner 
 -----------*/
.banner-section{
  position:relative;    
  background: #2c3e50 none repeat scroll 0 0;
  overflow: hidden;
}
.banner-section .section-padding {
  padding: 90px 0 0 0 ;
}
.banner-section .carousel-inner .item {
  opacity: 0;
transition-property: opacity;
}
.banner-section .carousel-inner .active {
  opacity: 1;
}
.banner-section .carousel-inner .active.left, 
.banner-section .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.banner-section .carousel-inner .next.left, 
.banner-section .carousel-inner .prev.right {
  opacity: 1;
}
.banner-section .carousel-control {
  z-index: 2;
}
@media not all, not all {
  .banner-section .carousel-inner > .item.next, 
  .banner-section .carousel-inner > .item.active.right {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);
  }
  .banner-section .carousel-inner > .item.prev, 
  .banner-section .carousel-inner > .item.active.left {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);
  }
  .banner-section .carousel-inner > .item.next.left, 
  .banner-section .carousel-inner > .item.prev.right, 
  .banner-section .carousel-inner > .item.active {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
.banner-section .item {
  background-size: cover;
  height: 560px;
}
.banner-section .item .carousel-caption {
  left: 10%;
  right: 10%;
  text-shadow: none;
  top: 22%;
}
.banner-section .item .carousel-caption h2 {
  animation-duration: 0.8s;
  animation-name: fadeInDown;
  font-family: "Ubuntu",sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin: 20px 0;
  text-transform: uppercase;
}
.banner-section .item .carousel-caption h3 {
  animation-duration: 0.8s;
  animation-name: fadeInUp;
  font-family: "Roboto",sans-serif;
  font-size: 20px;
  font-weight: 100;
}
.banner-section .item .carousel-caption .btn {
  animation-duration: 0.8s;
  animation-name: fadeInUp;
  margin: 30px 15px;
}
.banner-section .active {
  opacity: 1;
}
.banner-section .active.left, 
.banner-section .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.banner-section .carousel-control {
  background-image: none;
  box-shadow: none;
  height: 55px;
  margin-top: -35px;
  padding: 10px 5px;
  text-shadow: none;
  top: 50%;
  width: 35px;
  z-index: 10;
}
.banner-section .carousel-control i {
  border: 2px solid #fff;
  border-radius: 100%;
  height: 50px;
  padding: 15px;
  width: 50px;
}
.banner-section .carousel-control i:hover {
  background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
}
.banner-section .left.carousel-control {
  left: 2%;
}
.banner-section .right.carousel-control {
  right: 4%;
}
.banner-section .carousel-indicators {
  bottom: 45px;
}
.banner-section .carousel-indicators li {
  border-radius: 4px;
  height: 8px;
  margin: 0 5px;
  opacity: 0.5;
  width: 40px;
}
.banner-section .carousel-indicators li:hover, 
.banner-section .carousel-indicators li.active {
  opacity: 1;
}
.banner-section:hover .carousel-control {
  display: block;
}
.banner-section i {
  margin-right: 10px;
}
.banner-section .col-md-5{
  margin-top: 80px;
}
.revolutionary{
  letter-spacing:16px;
  text-transform:uppercase;
}
.banner-section .titles h1{
  font-family:"Raleway", "Helvetica Neue", sans-serif;
  color:#fff;
  font-size:55px;
  margin:3px 0 30px 0;
    text-transform: uppercase;
    font-weight: 800;
}
.banner-section .grow{
  font-family:"Raleway", "Helvetica Neue", sans-serif;
  text-transform:uppercase;
  font-size:35px;
  font-weight:600;
  color:#fff;
}
.banner-section p{
  font-size:18px;
  padding: 20px 0 30px;
  color:#fff;
  font-weight: 600;
  line-height: 30px;
}
.banner-section .btn{
  font-size: 18px;
  font-weight: 500;
  padding: 7px 28px;
  text-transform: uppercase;
}
.banner-section .col-md-7{
  padding: 120px 0 0;
}


/*
  3) process 
  ----------------------------------------*/
.process{
  background: #00AEFF;
  background-size: cover;
  padding: 35px 0;
  color: #2f363e;
  border-top: 1px solid #184056;
}
.process span{
  font-size: 49px;
  font-weight: 500;
  width: 60px;
  float: left;
  height: 45px;
  padding: 12px 0;
  margin-right: 10px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.process .content{
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color:#fff;
  font-size: 23px;
}
.process .content .des {
  line-height: 30px;
  padding: 10px 0;
}
.process .btn-theme{
  background: none;
  border: 1px solid #fff;
}
.process .btn-theme:after{
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
}

/*
 3) About Us
 ----------------------------------------*/
.about-section{
  position: relative;
  background: #fff;
}
.about-list .item:last-child img{
  margin-top: -20px;
}
.about-list .item h6{
  margin-top: 30px;
  text-transform:uppercase;
}
.about-section p{
  margin-bottom: 30px;
  line-height: 24px;
}
.about-section .btn{
  padding: 10px 20px;
}

  
/*
4) services Section
----------------------------------------*/
.services-section{
  padding-bottom: 35px;
  overflow: hidden;
  background: #f1f1f1;
}
.services-section .page-header{
  margin: 0 0 17px;
}
.services-section .item{
  padding: 0;
}
.services-section img{
  margin-top: -20px;
}
.services-section .item .fa{
  color: #00AEFF;
  float: left;
  margin-right: 15px;
  font-size: 25px;
  width: 50px;
  border: 1px solid #00AEFF;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
}
.services-section .item:first-child .fa{
  padding-left: 10px;
}
.services-section h6{
  text-transform: uppercase;
  color: #727272;
}

.services-section .item:nth-child(3), 
.services-section .item:nth-child(4), 
.services-section .item:nth-child(5){
  margin-bottom: 20px;
}
.services-section .fluid-image-outer {
  position: relative;
}
.services-section .fluid-image-outer img {
  display: block;
  left: 0;
  position: absolute;
  top: -80px;
}
/*
4) clients Section
----------------------------------------*/
.clients-section{
  padding: 70px 0;
  position: relative;
  overflow: hidden;
  background: #ffffff 
}
.clients-section ul li{
  float: left;
  list-style-type: none;
}
.clients-section ul li figure{
  width:120px;
  margin-bottom: 15px;
}

.clients-section p{
  color: #6f6d6d;
}
.clients-section #logo .item {
  text-align: center;
}
.clients-section #logo .item img{
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.clients-section #logo{
  margin-top: 0;
}
.clients-section .owl-pagination .owl-page span {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #008ed6;
  border-radius: 4px;
  height: 8px;
  opacity: 0.5;
  width: 40px;
}
.clients-section .owl-pagination .owl-page.active span {
  background: #008ed6 none repeat scroll 0 0;
  opacity: 1;
}

/*
4) team Section
----------------------------------------*/
.team-section{
  background-color: #F1F1F1;
  overflow: hidden;
  position: relative;
}

.team-section .team-list .item{
  overflow: hidden;
}
.team-section .item,
.team-section .item .img-wrap{
  padding: 0;
}
.team-section .item h6{
  text-transform: uppercase;
  margin: 15px 0 0;
  color: #273039;
}
.hvr-bounce-to-left {
    -moz-osx-font-smoothing: auto;
}

.team-section .item .content-wrap:before{
  content: "";
  background: #2098d1  !important;
  border: 1px solid #2098d1;
  border-left: none;
}
.team-section .item .content-wrap{
  background: #00AEFF;
  color: #a3a3a3;
  padding: 24px 25px;
  height: 285px;
}
.team-section .item .content-wrap span{
  margin: 5px 0;
  display: block;
  font-style: italic;
}
.team-section .item .content-wrap p,
.team-section .item .content-wrap span{
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  font-size: 13px;
}
.team-section .item .content-wrap p{
  margin-bottom: 9px;
}
.team-section .team-list .item:nth-child(2) {
  padding-left: 15px;
  margin-bottom: 30px;
}
.team-section .team-list .item:nth-child(4) {
  padding-left: 15px;
}
.team-section .team-list .item:nth-child(1) {
  padding-right: 15px;
  margin-bottom: 30px;
}
.team-section .team-list .item:nth-child(3) {
  padding-right: 15px;
}
.team-section .item .social{
  padding: 1px 0;
  margin-bottom: 2px;
}
.team-section .item .social li:first-child{
  margin-left: 0;
}
.team-section .item .social li{
  list-style-type: none;
  color: #717171;
  margin-left: 15px;
  display: inline;
}
.team-section .item .social li a{
  color:#fff ;
}
.team-section .item .social li a:hover{
  color: #f1f1f1;
}
.team-section .social li i{
  border: 1px solid #14C2FF;
  border-radius: 3px;
  padding: 5px;
  width: 30px;
  text-align: center;
  z-index: 999;
  position: relative;
}

/*Team Details*/
.team-all .team-list .item{
  overflow: hidden;
  border: 1px solid #e5e5e5;
  padding:20px;
  margin-bottom: 20px;
}
.team-all .team-list .item h6 {
  color: #273039;
  margin: 15px 0 0;
  text-transform: uppercase;
}
.team-all .team-list .item .content-wrap span {
  display: block;
  font-style: italic;
  margin: 5px 0;
}
.team-all .team-list .item .social{
  padding: 1px 0;
  margin-bottom: 2px;
}
.team-all .team-list .item .social li:first-child{
  margin-left: 0;
}
.team-all .team-list .item .social li{
  list-style-type: none;
  color: #717171;
  margin-left: 5px;
  display: inline;
}
.team-all .team-list .item .social li a{
  background: #00AEF0;
  border-radius: 2px;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  color: #FFF;
}
.team-all .team-list .item .social li a:hover{
  background: #0095E6;
}

/*
4) testimonial Section
----------------------------------------*/

#testimonial {
 
  background-size: cover;
  background-position: center
}
#testimonial .testimonial-inner {
  position: relative;
  color: #fff;
}

#testimonial #testimonial-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}
#testimonial #testimonial-carousel p {
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}
#testimonial #testimonial-carousel .carousel-control {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #303f4f;
  border-radius: 3px;
  bottom: auto;
  color: #758494;
  font-size: 16px;
  height: 40px;
  line-height: 20px;
  margin-top: 45px;
  opacity: 1;
  padding: 10px;
  text-shadow: none;
  width: 40px;
}
#testimonial #testimonial-carousel .carousel-control.left{
  left: 15px;
}
#testimonial #testimonial-carousel .carousel-control.right{
  right: 15px;
}
#testimonial #testimonial-carousel .carousel-control:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
#testimonial #testimonial-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -15px;
  margin-right: -19px;
}
#testimonial #testimonial-carousel .carousel-indicators li {
  background: #c0c0c0;
}
#testimonial #testimonial-carousel .carousel-indicators .active {
  background: #333333;
}
#testimonial .item {
  opacity: 0;
  transition-property: opacity;
}
#testimonial .item blockquote {
  border-left: none;
  margin: 0;
}
#testimonial .item blockquote img {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  border: 3px solid #00AEFF;
}
#testimonial .item blockquote small {
  color: #008ED6;
}
#testimonial .item blockquote small span {
  padding-right: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

#testimonial .item blockquote small:before {
  display: none;
}
#testimonial .active {
  opacity: 1;
}
#testimonial .active.left,
#testimonial .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

/************************************
21)Blog
*************************************/
.view-all {
  float: right;
  margin-top: -70px;
  width: 100%;
}
.section-blog-box{
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    padding: 30px;
    border: 1px solid #eeeeee;
    background: #f6f6f6;
}
.blog-list .section-blog-box{
    padding:0;
    border: 0;
    background: none;
}
.section-blog-box h3 {
    margin:15px 0;
    text-align: center;
}

.section-blog-box h3 a {
  color: #273039;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-blog-box h3 a:hover {
    color: #00AEFF;
}
.blog-list .section-blog-box h3 {
    text-align: left;
}
.section-blog-box p {
    font-size: 14px;
    color: #777;
    line-height: 26px;
    margin: 15px 0;
}
.section-blog-box .btn-theme{
  text-transform: none;
  margin-bottom: 10px;
}

.section-blog-box .entry-meta{
    margin:0;
    text-align: center;
}
.blog .news-inner{
  position: relative;
  transition: all 0.3s ease-in-out 0s;
}
.blog .news-inner > img{
  max-width: 100%;
}
.news-block .news-info {
  padding: 20px;
}

.news-block .date {
  font-size: 12px;
  text-transform: uppercase;
  color:#00A8EF;
}
.posted-on {
    margin-right: 10px;
}

.news-block .news-info h4 {
  color: #303030;
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  text-transform: uppercase;
}

.news-block .news-info h4 a {
  color: #303030;
}
.news-block:hover .news-info h4 a {
  color: #00A8EF;
}

.news-block .name {
  color: #303030;
  font-size: 12px;
  font-style: italic;
}
.news-block .name span{
  color: #00A8EF;
}
.news-block .comments,
.news-block .name{
  color: #333;
  font-size: 11px;
  font-style: italic;
  display: inline;
}

.news-block .name {
    margin-right: 10px;
}

.news-block .comments i {
  margin-right: 5px;
}

.blog .news-block {
  margin-bottom: 50px;
  overflow: hidden;
}

.single-section article .entry-header{
  margin: 20px 0;
}
.single-section article .entry-header h1{
  font-size: 28px;
}
.single-section article .post-thumb{
  margin: 15px 0;
}
.single-section article .entry-content p{
  font-size: 15px;
}
.single-section article .entry-footer {
  border-bottom: 2px solid #e5e5e5;
  margin: 20px 0;
  padding: 20px 0;
}
.single-section .post-navigation {
  margin: 20px 0;
  overflow: hidden;
}
.post-images-with-title{
  margin: 10px 0;
}
.post-images-with-title a {
  display: inline-block;
  overflow: hidden;
}
.post-images-with-title h4 {
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
}
.post-images-with-title .next,
.post-images-with-title .previous{
  display: inline-block;
}
.post-images-with-title .previous{
  float: right;
}
.archive .item header.page-header {
    display: none;
}

.comments-title{
  margin: 30px 0;
}
.comment-reply-title{
  margin: 15px 0;
}
.comments-area .comment-list{
  margin: 0;
  padding: 0;
}
.comments-area .comment-list li {
  border: 1px solid #e5e5e5;
  list-style: outside none none;
  margin-bottom: 15px;
  padding: 15px;
}
.comments-area .comment-body{
  overflow: hidden;
}
.comments-area .comment-body .comment-author,
.comments-area .comment-body .comment-metadata{
  display: inline;
}
.comments-area .comment-body .comment-author .says{
  display: none;
}
.comments-area .comment-body .comment-metadata time{
  color: #5293ce;
  font-size: 14px;
  font-weight: 400;
  margin-left: 30px;
}
.comments-area .comment-body .comment-author img{
  border-radius: 50%;
  height: 70px;
  margin-right: 10px;
  overflow: hidden;
  width: 70px;
}
.comments-area .comment-body .comment-author b{
  font-size: 18px;
  color: #333;
}
.comments-area .comment-body .comment-content {
  border-top: 1px solid #e6e6e6;
  margin: 15px 0;
  padding: 15px 0;
}
.comments-area .comment-body .comment-content p{
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.comments-area .comment-body .reply{
  margin-bottom: 10px;
  float: right;
}
.comments-area .comment-body .reply a{
  text-align: right;
  line-height: 26px;
  padding: 2px 12px;
  display: inline-block;

  background: #00AEFF;
  color: #fff;
}
.comment-content a {
  word-wrap: break-word;
}
.comment-form label{
  width: 100%;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"]{
  width: 100%;
}
.left-sidebar .page-section .item{
  float: right;
}

.left-sidebar .search-section{
  float: right;
}
.left-sidebar .single-section .item{
  float: right;
}
.no-sidebar .sidebar{
  display: none;
}
.no-sidebar .item{
  width: 100%;
}
/*style-blog-right-images*/
.right-image .post-thumbnail {
  float: right;
}
/*style-blog-large-images*/
.large-image .post-thumbnail {
  width:100%;
}
/*style-blog-alternate-image*/
.alternate-image article:nth-child(odd) .post-thumbnail{
  float: right;
}
.alternate-image article:nth-child(even) .post-thumbnail{
  float: left;
}
/*style-blog-no-image*/
.no-image .post-thumbnail {
  display: none;
}
.no-image .news-info{
  width: 100%;
}


/*style-Author*/
.authorbox {
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  margin: 0;
  padding: 30px 0;
}
.authorbox .author-avatar {
  border-radius: 50%;
  height: 80px;
  margin-right: 35px;
  overflow: hidden;
  width: 80px;
}
.authorbox .author-avatar img {
  max-width: 100%;
}
.authorbox .author-info {
  float: right;
  width: 70%;
}

/*
 11)Contact
----------------------------------------*/
.contact-section{
  color:#656565;
  background:#F1F1F1;
}
.contact-section .page-header{
  margin: 0 0 15px;
}
.contact-section .section-header .sm-title{
  color:#00AEF0;
}
.contact-form .col-sm-6{
  padding-right:0;
}
.contact-form .col-sm-6 input{
  border-right:0;
}
.contact-form .col-sm-5{
  padding-left:0;
}
.contact-form input, .contact-form  textarea{
  background:none;
  border:1px solid #e4e3e7;
  box-shadow:none;
  padding:10px 15px ;
  font-size:16px;
  color:#656565;
  background:#fff;
  border-radius: 3px;
}
#contact .success, 
#contact .error {
  display: none;
  font-family: "Source Sans Pro",sans-serif;
  margin-bottom: 48px;
}
#contact .success .fa, 
#contact .error .fa {
  font-size: 18px;
  margin-right: 5px;
}
.contact-form input{
  height:50px;
}
.contact-detail ul {
  padding: 0;
}
.contact-detail h6{
  margin-bottom: 5px;
  color: #727272;
}
.contact-detail h2{
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contact-detail ul li {
  background: #fff none repeat scroll 0 0;
  list-style-type: none;
  margin-bottom: 15px;
  padding: 30px;
  border-radius: 3px;
}
.contact-detail li p {
  padding-left: 35px;
  padding-top: 5px;
  position: relative;
}
.contact-detail li p i{
  position: absolute;
  top: 12px;
  left: 0;
  border-radius: 3px;
  border: 1px solid #00AEFF;
  padding: 5px;
  text-align: center;
  width: 25px;
  color: #00AEFF;
}
.contact-form .btn{
  padding: 5px 30px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}
.contact-form .form-control::-moz-placeholder{
  color:#999;
  opacity:1; 
  text-transform:capitalize; 
  font-size: 13px;
}
.contact-form .form-control:-ms-input-placeholder{
  color:#999; 
  text-transform:capitalize; 
  font-size: 13px;
}
.contact-form .form-control::-webkit-input-placeholder{
  color:#999; 
  text-transform:capitalize; 
  font-size: 13px;
}

/*
 5) Purchase Now
 ----------------------------------------*/
.purchase-now {
  background: #00AEFF;
  padding: 40px 0;
}
.purchase-now .btn-theme{
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
}
.purchase-now .btn-theme:after{
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
}

.purchase-now .items{
  font-size:32px;
  color:#fff;
  font-weight:400;
  margin: 10px 0;
}
.buy-now {
  font-size: 16px;
  text-transform: uppercase;
  padding: 9px 40px;
  margin-top: -7px;
  font-weight: 700;
}

/*
 12) Footer
 ----------------------------------------*/
.footer-section{
  background: #f0f0f0;
  background-size: cover;
  padding-bottom: 0;
}
.footer-section .section-padding{
  padding: 50px 0;
}
.footer-section .footer-logo{
  padding:0 0 15px;
  max-width: 200px;
}

.footer-sidebars {
  position: relative;
}
.footer-sidebars .footer-sidebars-bg {
  background-color: #26364a;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 36%;
}
.footer-section .quote .btn-theme{
  background: transparent;
  border: 1px solid #fff;
  margin-top: 20px;
}
.footer-section .quote .btn-theme:hover{
  border: 1px solid #00AEFF;
  color: #00AEFF
}
.footer-section .quote .btn-theme::after{
  background: transparent;
}
.footer-section .widget-title{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
  text-transform: uppercase;
} 
.footer-section .widget-title::before{
  padding: 15px 0;
  border-bottom: 3px solid #00aeff;
}
.m-l-20{
  margin-left: 20px;
}
.footer-section .twitter-feed {
  font-size: 1.1em;
  min-height: 5.5em;
  text-align: left;
}

.footer-section .twitter-feed a {
  color: #a1b1bc;
  font-weight: 700;
}
.footer-section .twitter-feed a:hover {
  color: #d6e6f1;
}
.footer-section .twitter-feed ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-section .twitter-feed ul li{
  color: #a1b1bc;
}
.footer-section .twitter-date {
  font-size: 0.9em;
  margin-top: 10px;
}
.footer-section .twitter-date a {
  color: #00AEFF;
  font-weight: 700;
}
.footer-section .twitter-date a:hover {
  color: #d6e6f1;
}
.footer-section .twitter-date span {
  font-weight: 700;
  padding-left: 10px;
  color: #00AEFF;
}
.footer-section .newsletter-widget input[type="email"] {
  background: #35424f none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  display: block;
  line-height: 24px;
  padding: 7px 15px;
  position: relative;
  transition: all 0.5s ease 0s;
  width: 70%;
  color: #999999;
}
.subscription-success i,
.subscription-error i{
  font-size: 15px;
  font-weight: normal;
  margin-right: 5px;
}
.subscription-success{
  color: #3c763d;
}
.subscription-error{
  color: #a94442;
}
.footer-section .footer-bottom {
  background: #112134 none repeat scroll 0 0;
  border-top: 1px solid #233346;
  padding: 40px 0;
}
.footer-section .footer-bottom .social-footer li{
  list-style-type: none;
  display: block;
  margin-left: 30px;
  font-size: 16px;
}
.footer-section .footer-bottom .social-footer li a {
  border: 1px solid #3d464f;
  border-radius: 3px;
  color: #fff;
  float: right;
  font-size: 16px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: 35px;
}
.footer-section .footer-bottom .social-footer li a:hover{
  color: #1ec3e1;
}

.footer-section .gray p{
  font-size: 14px;
  color: #a1b1bc;
}
.footer-bottom .copyright{
  color: #a1b1bc;
  line-height: 24px;
  margin: 10px 0;
}

 /*---------------------------------------
 13) Preloader
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
}

.loader {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(assets/images/pl.GIF);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: -20px 0 0 -20px;
}

a.scroll-top {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-radius: 2px;
    bottom: 20px;
    color: #ffffff;
    height: 40px;
    padding-top: 7px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
}
a.scroll-top:hover {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  color: #ffffff;
}
a.scroll-top::before {
  font-size: 25px;
}

/*--------------------------------------------------------------
14) Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  background: #00AEF0;
  font-size: 13px;
  padding: 6px 15px;
  color: #fff;
  transition: all 0.3s ease 0s;
  border-radius: 3px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #0095E6;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 0;
  width: 100%;
}
.searchform input[type="text"] {
  width: 100%;
}
.searchform .searchsubmit {
  padding: 12px 20px;
    margin-left: -5px;
    border-radius: 0;
}
.search-block {
    position: relative;
}

select {
  border: 1px solid #ccc;
  border-radius: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

textarea {
  width: 100%;
}

/*---------------------------------------
15) Cat Links
-----------------------------------------*/
.cat-links a{
  background: #00aeff none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  display: inline;
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
  font-size: 12px;
  margin-right: 10px;
}
/*---------------------------------------
15) Cat Links
-----------------------------------------*/
/*--------------------------------------------------------------
16) Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*---------------------------------------
17) Widgets
-----------------------------------------*/
.widget{
  margin: 20px 0;
}
.widget .widget-title{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
}
.widget .widget-title::before {
  border-bottom: 3px solid #00AEF0;
  content: " ";
  margin-left: 0;
  margin-right: 0;
  padding: 10px 0;
  position: absolute;
  top: 5px;
  width: 30px;
}

.widget .search-form{
  margin-top: 20px;
}
.widget .searchsubmit {
  border: 0 none;
  border-radius: 0;
  float: right;
  line-height: 14px;
  padding: 6px 12px;
}
.widget ul {
  list-style: inside none circle;
  margin: 0;
  padding: 0;
}
.widget  ul li {
  border-bottom: 1px solid #eeeeee;
  display: block;
  margin-bottom: 10px;
}
.widget ul li:last-child {
    border-bottom: none;
}
.widget  ul li a {
  color: #888888;
  display: inline-block;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  padding-bottom: 10px;
}
.widget ul li a:hover {
  color: #00aef0;
}
.widget  ul li i {
  margin-right: 10px;
}
.widget .latest-posts {
  margin-top: 40px;
}
.widget .latest-posts .latest-item {
  margin-bottom: 40px;
  margin-top: 25px;
}
.widget .latest-posts .latest-item .posted {
  float: left;
  margin-right: 15px;
  width: 60px;
}
.widget .latest-posts .latest-item h6 {
  display: inline;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 10px;
}
.widget .latest-posts .latest-item a:hover h6 {
  color: #00aef0;
}
.widget .latest-posts .latest-item img {
  float: left;
}
.widget .latest-posts .latest-item ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.widget .latest-posts .latest-item ul li {
  border-right: 1px solid #666666;
  color: #888888;
  display: inline-block;
  font-family: "Raleway",sans-serif;
  font-size: 12px;
  padding-right: 10px;
}
.widget .latest-posts .latest-item ul li i {
  color: #00aef0;
  font-size: 14px;
  margin-right: 5px;
}
.widget .latest-posts .latest-item ul li:last-child {
  border-right: medium none;
  margin-left: 10px;
}
.widget .recent-tweets {
  margin-top: 60px;
}
.widget .recent-tweets .first-item {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
}
.widget .recent-tweets .recent-item {
  margin-bottom: 15px;
}
.widget .recent-tweets .recent-item i {
  background: #00aef0 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 20px;
  line-height: 35px;
  margin-top: 3px;
  padding: 3px;
}
.widget .recent-tweets .recent-item p {
  border-left: 2px solid #00aef0;
  margin-bottom: 0;
  margin-left: 25px;
  padding-left: 10px;
}
.widget .recent-tweets .recent-item a {
  color: #00aef0;
}
.widget .recent-tweets .recent-item span {
  color: #7e7e7e;
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  margin-left: 35px;
  text-decoration: underline;
}
.widget .sidebar-widget h4 {
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.widget h4 {
  position: relative;
}
.widget h4::before {
  border-bottom: 3px solid #21252b;
  content: " ";
  margin-left: 0;
  margin-right: 0;
  padding: 10px 0;
  position: absolute;
  top: 5px;
  width: 30px;
}
.widget h4.title {
  color: #333;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}
.widget h4.title {
  margin-bottom: 10px;
}
.widget.widget_meta li{
  display: inline;
  border: 0;
}
.widget.widget_meta a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #dcdcdc;
  color: #656565;
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  margin: 0 2px 5px 0;
  padding: 10px;
  text-transform: lowercase;
}

.widget.widget_meta a:hover {
  background: #00aef0 none repeat scroll 0 0;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

/*---------------------------------------
17) Page Not Found
-----------------------------------------*/
.page-not-404{
  padding:100px 0;
}
.page-404 {
  border-right: 1px solid #ddd;
}
.page-404 h1 {
  color: #00aef0;
  font-size: 20em;
  font-weight: 700;
  text-align: center;
}
.page-not-404 h2 {
  margin-bottom: 30px;
  margin-top:50px;
  font-size: 18px;
  line-height: 24px;
}
.page-not-404  label{
  width: 75%;
  display: inline-block;
  margin-bottom: 15px;
}
.page-not-404 .search-field {
  border-radius: 0;
  padding: 10px 20px;
  width: 100%;
}
.page-not-404 .search-submit {
  border-radius: 0;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 0 3px;
}

.searchform .searchsubmit {
    padding: 12px 15px;
    margin-left: -5px;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.process .btn-theme {
    float: right;
    margin-top: 10px;
}
.form-section .wpcf7 input [type="text"] {
    margin-bottom: 20px;
    background: none;
}
.contact-detail2 i {
 margin-right: 5px;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    margin-bottom: 20px;
    background: none;
}

#testimonial {
 background-size: cover;
}
@media only screen and (max-width: 480px){
 .section-header h1::before {
  display:none;
 }
 .team-section .team-list .item:nth-child(2), .team-section .team-list .item:nth-child(4) {
  margin-left: -15px;
   margin-right: 15px;
 }
 
 
}

@media (min-width: 768px) and (max-width: 991px) {
 .dest-detail {
  margin-top: 12%;
 }
 .navbar .navbar-header {
  width: 100%;
     text-align: center;
 }
 .navbar .navbar-brand {
  padding:15px 0px;
  width: auto;
 }
 .navbar-nav li {
  margin-left: 22px;
 }
 
 .navbar-brand {
  float: none;
 }
 .navbar-nav {
  margin: 0;
 }
 
 .about-list .hidden-xs.item {
  display: none;
 }
 
 .services-section .col-md-5 .fluid-image-outer {
  display: none;
 }
 .why-list .item-2 {
  width: 100%;
  padding: 0px 30px;
 }
 
}

@media only screen and (max-width: 768px){ 
 .team-section .social li i { 
  margin-bottom: 15px;
 }
 
}

.widget_product_categories ul li .children li:before {
  font-family: "FontAwesome";  
  content: "\f054";
  font-size:10px;
  color: #0095E6;
  font-weight:400;
  margin-right: 5px;
} 

.widget_product_categories ul li .children {
    margin-left:15px;
   
}

.widget_product_categories ul li a{
 font-weight: 600;
}
.widget_product_categories ul li .children li a {
    font-weight: normal;
}

.widget_product_categories ul li .children li:last-child {
    border-bottom: none;
}

.single-section .entry-meta .posted-on {
    margin-right: 15px;
}
.single-section .entry-meta span,
.single-section .entry-meta span a
 {
    color: #ababab;
}
.single-section article .post-thumb img {
    width: 100%;
    height: auto;
}
.single-section article {
    padding: 15px;
    border: 1px solid #eee;
    background: #fdfbfb;
}

.single-section article .entry-footer {
    border-top: 2px solid #e5e5e5;
    background: #fff;
    padding: 15px;
}
.widget .searchsubmit {
    top: 0;
}
.single-section .entry-meta span, .single-section .entry-meta span a:hover {
 color: #0095E6;
 transition:0.5s;
}
.sidebar .widget_search {
    margin-top: 0px;
}
.sidebar .widget {
    margin-bottom: 30px;
    background: #fff;
    padding: 15px;
    border: 1px solid #EEE;
    
}

.comments-area .comment-list li .children li {
    border: none;
    margin-right: -15px;
}

.large-image .news-info,
.large-image .post-thumbnail img
 {
    width: 100%;
}
.left-image .news-info,
.right-image .news-info {
    padding-top: 0px;
}

.authorbox .author-header {
    text-transform: capitalize;
    margin-bottom: 15px;
}
.related-post.news-block .entry-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}
.related-post .col-sm-4.col-md-4 {
    width: 32%;
    background: #fff;
    padding: 10px;
    margin: 5px;
}
.related-post.news-block .news-info h4 a {
    font-size: 16px;
 text-transform: capitalize;
}
.related-post.news-block .news-info h4  {
 line-height: 24px;
}
.search.search-results .site-main article {
    background: #f7f5f5;
    padding: 15px;
    border: 1px solid #eee;
    margin-bottom: 30px;
}

.product-categories .current-cat a {
    color: #00aeff;
}

#cooler-nav .nav-box img {
    width: 100%;
}
#cooler-nav .nav-box {
    background: #00aeff;
}
#cooler-nav .nav-box p {
    color: #fff;
    line-height: 20px;
    margin-top: 10px;
    font-weight: 600;
}




@media only screen and (max-width: 1200px){  
 .widget .widget-title::before {
  display: none;
 }
}



@media (min-width: 480px) and (max-width: 768px) {
 .team-section .team-list .item {
  width: 46%;
}
}


@media (min-width: 481px) and (max-width: 768px) {
 .team-section .team-list .item:nth-child(2), .team-section .team-list .item:nth-child(4) {
  margin-left: 30px;
 }
}
.team-list .item .img-wrap img {
    width: 100%;
}



.inner-page .navbar {
    position: relative;
}
.inner-page .header-space {
    padding: 0px;
}

.blog.single-section .pagination {
    width: 100%;
}

.blog.single-section .pagination a {
    border: none;
    margin: 0px;
}



.menu-item-has-children:hover .sub-menu {
    display: block;
}
.menu-item-has-children .sub-menu {
    position: absolute;
    left: 0;
    display: none;
 padding-left: 0px;
    background: #00aeff;
 width: 200px;
}
.menu-item-has-children:hover .sub-menu li {
    list-style-type: none;
    margin-left: 0px;
    padding: 5px 15px;
    border-bottom: 1px solid #fff;
}
.menu-item-has-children .sub-menu .menu-item-has-children .sub-menu {
    position: absolute;
    left: 200px;
    float: right;
    top: -5px;
    display: none;
}
.menu-item-has-children .sub-menu .menu-item-has-children:hover .sub-menu { 
 display: block;
}
.menu-item-has-children .sub-menu li a {
 color: #fff;
}
.menu-item-has-children .sub-menu li a:hover {
 color: #000;
}

.form-section .contact-form label {
    width: 100%;
}
.form-section .contact-form input,
.form-section .contact-form textarea
 {
    background: #fff;
 border: 1px solid #d8d8d8;
}

.wpcf7-submit {
    background: #00aeff !important;
    padding: 5px 30px !important;
    font-size: 20px !important;
    text-transform: uppercase;
}

.copyright a{color: #00AEFF;}

@media only screen and (max-width : 767px) { 
 .menu-item-has-children .sub-menu {
  display: block;
  position: relative;
  background: none;
  margin-left: 20px;
 }
 .menu-item-has-children .sub-menu li {
  list-style-type: none;
  margin-bottom: 20px;
 }
 .menu-item-has-children .sub-menu li a {
  color: #4d4d4d;
 }
 .menu-item-has-children .sub-menu .menu-item-has-children .sub-menu {
  display: block;
  position: relative;
  background: none;
  left: 15px;
 }
 
 .navbar-nav li {
  margin-left: 0px;
 }


}

.breadcrumbs h2.trail-browse{
    display: none;
}