/*
2)General Text Formatting
 ----------------------------------------*/
* {
	box-sizing: border-box;
	margin: 0;
	outline: 0 none !important;
	padding: 0;
	position: relative;
	transition: all 0.3s ease-in-out 0s;
}
 body {
 font-family: 'Raleway', sans-serif;
 font-size: 13px;
 color: #6c6f74;
 line-height: 24px;
 letter-spacing: 0.05em;
 background: #fff;
}
p{
  font-family: "Open Sans", Sans-serif;
}
a {
 color: #00AEFF;
 text-decoration: none;
 -webkit-transition: all 0.25s ease-out;
 -moz-transition: all 0.25s ease-out;
 -ms-transition: all 0.25s ease-out;
 -o-transition: all 0.25s ease-out;
 transition: all 0.25s ease-out;
}

a:hover {
 color: #00AEFF;
 text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #273039;
	margin: 0;
}
h1, .h1 {
	font-size: 35px;
	margin-bottom: 15px;
	top: 0;
	font-weight: 800;
}
h2, .h2 {
	font-size: 30px;
}
h3, .h3 {
	font-size: 26px;
	margin-bottom: 39px;
}
h4, .h4 {
	font-size: 24px;
}
h5, .h5 {
	font-size: 20px;
	margin-bottom: 42px;
}
h6, .h6 {
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: 700;
}
p {
	font-size:13px;
	color: #737373;
	line-height: 24px;
  font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
}
a:focus, a:active {
	outline: none;
	background: none;
}

ul, ol {
	padding-left: 40px;
}
.yellow{
  color: #00AEFF;
}
.gray-btn{
  border-radius: 20px;
padding: 8px 30px;
border: 1px solid #e4e4e4;
background: #FFF;
color: #000;
font-weight: 700;
text-transform: uppercase;
}
/*
 3.1) General Sytle
 -----------------------------*/
.heading-group {
	padding: 20px 0 0;
}
input:focus,textarea:focus{
	outline:none;
}
input:focus,textarea:focus,.btn:focus,.zoom img{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.media-content:hover .svg-shape,.media-content .svg-shape,.volunteer-reward:hover .svg-shape,.volunteer-reward .svg-shape {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#page-info{
	padding-bottom:100px;
}


/*
 3.3) botton Style
 ----------------------------------------*/

.btn-theme {
	color: #fff;
	background: #00AEFF ;
	overflow: hidden;
	-webkit-backface-visibility: hidden ;
	-moz-backface-visibility: hidden ;
	position: relative ;
	border: none;
	text-transform: uppercase ;
	font-family: "Open Sans", Sans-serif;
	font-weight: 400;
	border-radius: 3px;
	-moz-border-radius:3px;
    -webkit-border-radius: 3px;
}

.btn-theme:hover,
.btn.btn-theme:focus {
	color: #fff;
  background: #0095e6;
}
.rectangle .btn{
	border-radius: 0;
}
.rounded-rectangle .btn{
	border-radius: 3px;
}
	/*
     3.4) Img Thumb
     ----------------------------------------*/
.img-thumb {
	display: block;
	overflow: hidden;
}
.img-thumb img {
	display: block;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.img-thumb:hover img, .img-thumb:focus img, .zoom:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/*
 3.5) Table Style
 ----------------------------------------*/
.table-wrap {
	border: 1px solid #e0e0e0;
	padding: 15px 10px 10px;
	border-radius: 8px;
	background: #f8f7f5;
}

.table {
	background: #f8f7f5;
}
.tables-outline {
	border: none;
	background: none;
}
.table-content h3{
	margin-bottom:0;
}
.table-content  .bs-example {
margin-bottom: 70px;
padding-top: 20px;
}
.tables-outline > tbody > tr > td:first-child, .tables-outline > thead > tr > th:first-child {
	border-left: 1px solid transparent;
}
.tables-outline > tbody > tr > td:last-child, .tables-outline > thead > tr > th:last-child {
	border-right: 1px solid transparent;
}
.tables-outline > tbody > tr:last-child > td {
	border-bottom: 1px solid transparent;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	height: 37px;
}
.table > thead > tr > th {
	font-size: 18px;
	color: #26211d;
}
.table > tbody > tr > td {
	color: #7c7c7c;
}
.table.b-border > tbody > tr:last-child > td {
	border-bottom: 1px solid #e0e0e0;
}
.table-striped > tbody > tr:nth-child(odd)> td, .table-striped > tbody > tr:nth-child(odd)> th {
	background: #ededed;
}
/*
 3.6) Tab Style
 ----------------------------------------*/
.bs-example-tabs {
	padding-top: 40px;
	margin-bottom: 40px;
}
.content-wrapper .shortcode-page .bs-example-tabs:last-child{
	margin-bottom:0;
}
.tab-content {
	border: 1px solid #e5e3dc;
	border-top: none;
	padding: 38px 38px 53px;
}

.nav-tabs > li {
	float: none;
	margin-bottom: 1px;
}
.nav-tabs > li:last-child {
	margin-bottom: 0;
}
.nav-tabs > li > a {
	border-radius: 0;
	width: 100%;
	font-size: 18px;
	color: #302f2c;
	margin-right: 15px;
	cursor: pointer;
}
.nav-tabs_less-space > li > a {
	margin-right: 0;
}
/*
 3.7) Accordion Style
 ----------------------------------------*/
.panel-group .panel {
	border-radius: 0;
}
.panel {
	box-shadow: none;
	border: none;
}

.panel-title > a {
	padding: 10px 15px 10px 36px;
	display: block;
	position: relative;
}
.toggel-icon {
	position: absolute;
	right: 17px;
	top: 50%;
	margin-top: -8px;
}
.panel-heading {
	padding: 0;
	border-radius: 0;
}
.panel-default > .panel-heading {
	background-image: none;
}
.panel-group .panel-heading+ .panel-collapse > .panel-body {
	border: none;
}
.panel-collapse {
	border: 1px solid #e5e3dc;
	border-top: none;
}
.toggle-panel .panel-collapse {
	border: none;
}
/*
 3.8) Notification Style
 ----------------------------------------*/
.bs-example-notification {
	padding: 35px 0;
}
.content-wrapper .bs-example-notification{
	padding-bottom:0;
}
.alert{
	padding:13px 15px;
	font-size:16px;
	line-height:1.5;
	margin-bottom:20px;
}
.alert p {
	margin-bottom: 0;
}
.alert-danger {
	background: #ffdfe0;
}
.alert-success {
	background: #edffe9;
}
.alert-info {
	background: #eaf7ff;
}
.alert-warning {
	background: #fffbf0;
}
.alert-default {
	background: #f8f8f8;
}
.alert.alert-danger {
	color: #dc7276;
	border: 1px solid #f5cfcf;
}

.alert.alert-success {
	color: #68905e;
	border: 1px solid #b9e6b1;
}
.alert.alert-info {
	color: #71abd1;
	border: 1px solid #b1defb;
}
.alert.alert-warning {
	color: #d2af49;
	border: 1px solid #fbdeb1;
}
.alert.alert-default {
	color: #b9b5b4;
	border: 1px solid #dedede;
}

.alert.alert-danger p {
	color: #dc7276;
}

.alert.alert-success p {
	color: #68905e;
}
.alert.alert-info p {
	color: #71abd1;
}
.alert.alert-warning p {
	color: #d2af49;
}
.alert.alert-default p {
	color: #b9b5b4;
}
/*
 3.9) List Style
 ----------------------------------------*/

li {
	color: #7c7c7c;
}
.list-style li {
	font-size: 16px;
	list-style:none;
}
.list-unstyled,.list-arrowstyled{
	list-style:none;
}
.list-unstyled li:before {
	content: "\f111";
	font-family: FontAwesome;
	font-size: 5px;
	padding-right: 8px;
	position: relative;
	top: -1px;
}
.list-arrowstyled li:before {
	content: "\f101";
	font-family: FontAwesome;
	padding-right: 8px;
}
.list-circlestyled, .list-arrowstyled {
	padding-left: 0;
	list-style:none;
}
.list-circlestyled li:before {
	content: "\f10c";
	font-family: FontAwesome;
	padding-right: 8px;
	font-size: 11px;
}
.list-style h3 {
	margin: 45px 0 50px;
}
/*
 3.10) Blockquote Style
 ----------------------------------------*/
.bs-blockquete {
	margin-top: 50px;
}
blockquote {
	min-height: 90px;
}
.blockquote-reverse {
	min-height: 90px;
}
blockquote p {
	font-size: 20px;
	line-height: 1;
}
blockquote footer, blockquote small, blockquote .small {
	color: #26211d;
}
blockquote footer:before, .blockquote-reverse footer:after {
	display: none;
}
/*
 3.11) Progress Style
 ----------------------------------------*/
.progress {
	border-radius: 0;
	height: 11px;
	margin-bottom: 53px;
	overflow: visible;
	box-shadow: 0 0 0;
	position: relative;
}
.progress-bar {
	background:#26211d;
	position: relative;
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-ms-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
	box-shadow: 0 0 0;
}
.progress-value {
	min-width: 69px;
	height: 27px;
	line-height: 27px;
	font-size: 16px;
	color: #26211d;
	text-align: center;
	position: absolute;
	left: 100%;
	top: -35px;
	margin-left: -35px;
}
.progress-value-number {
	font-size: 16px;
	color: #26211d;
	position: absolute;
	left: 0;
	bottom: -26px;
}
.progress-value:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #ecc731 transparent transparent;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	top: 100%;
}
.progress-bar.progress-bar-custom {
	background: rgba(38,33,29,0.64)
}
.progress-bar.slide-ranger {
	background: rgba(38,33,29,0.14);
}
.slide-ranger .left-btn, .slide-ranger .right-btn {
	position: absolute;
	width: 18px;
	height: 18px;
	margin-top: -9px;
	top: 50%;
	background: #26211d;
	border-radius: 100%;
	display: block;
	cursor: pointer;
}
.slide-ranger .left-btn {
	left: -2px;
}
.slide-ranger .right-btn {
	right: -2px;
}

/*
 3.12)Breadcrumb Banner Section
 ----------------------------------------*/
.inner-title {
	background: #00aef0 none repeat scroll 0 0;
	padding: 30px 0;
}
.inner-title h2{
	color:#fff;
	font-size: 24px;
}
.inner-title h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 0;
}
.breadcrumbs ul {
	float: right;
	font-size: 13px;
	font-weight: 500;
}
.breadcrumbs ul li {
	color: #fff !important;
	display: inline-block;
	margin: 0 0 0 5px;
	text-transform: uppercase;
}
.breadcrumbs ul li::after {
	color: #fff;
	content: "";
	font-family: "FontAwesome";
	font-size: 12px;
	margin: 0 0 0 9px;
}
.breadcrumbs ul li:last-child::after,
.breadcrumbs ul li:first-child::after {
	content: "";
	margin: 0;
}
.breadcrumbs ul li:last-child a,
.breadcrumbs ul li a {
	color: #fff !important;
	font-weight: 600;
	text-transform: uppercase;
}
.breadcrumbs ul li a:hover {
	color: #fff !important;
	text-decoration: underline;
}
.breadcrumbs ul li:first-child {
	margin-left: 0;
	padding-right: 0;
}
.breadcrumbs ul li:first-child,
.breadcrumbs ul li:last-child {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
	color: #fff;
}
.breadcrumbs ul li:last-child {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
	padding: 0;
}
/*
 3.13)Global Animations Style
 ----------------------------------------*/
.anim-section {
	position: relative;
	-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	-ms-transition: all 600ms ease-in-out;
	-o-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out;
	-moz-transform: translateY(80px);
	-webkit-transform: translateY(80px);
	-o-transform: translateY(80px);
	-ms-transform: translateY(80px);
	transform: translateY(80px);
	visibility: visible;
	opacity: 0
}
.anim-section.animate {
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	visibility: visible;
	opacity: 1
}

/*
 3.14) Side Nav Style
 ----------------------------------------*/
.side-nav {
	list-style: none;
}
.side-nav ul {
	padding-left: 0;
	padding-bottom: 31px;
}

.side-nav li {
	border-bottom: 1px solid #e1dedb;
	list-style: none;
}

.side-nav li a {
	color: #7c7c7c;
	font-size: 16px;
	line-height: 1.5;
	display: block;
	padding: 11px 0;
}
.side-nav li:hover a, .side-nav li.active a {
	font-weight: bold;
	color: #26211d;
}
.bullet-arrow {
	margin-right: 15px;
}
.page-header {
	margin: 0 0 10px 0;
	border-bottom: none;
	position: relative;
}

.page-header h1 span{
  color: #00AEFF;
  font-size: 35px;
  font-weight: 800;
}
/*
 3.15) pagiantion Style
 ----------------------------------------*/
.pagination {
	display: inline-block;
	font-size: 13px;
	line-height: normal;
	margin: 15px 0;
}
.pagination a, .pagination span {
	background-color: transparent;
	border: 1px solid rgba(25, 25, 25, 0.1);
	border-radius: 2px;
	color: #191919;
	float: left;
	font-weight: 700;
	margin: 10px 10px 0 0;
	padding: 7px 15px;
}
.pagination a:hover, .pagination a:focus {
	background-color: #00AEF0;
	border-color: #00AEF0;
	color: #ffffff;
}
.pagination .current {
	background-color: #0095E6;
	border-color: transparent;
	color: #fff;
}

/*nav-links*/
.nav-links{
	display: block;
}
.nav-links .nav-previous,
.nav-links .nav-next{
	display: inline;
	background: #00aeff none repeat scroll 0 0;
	border: medium none;
	border-radius: 3px;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
	overflow: hidden;
	position: relative;
	padding: 6px 12px;

}
.nav-links .nav-previous a,
.nav-links .nav-next a{
	color: #FFF;
}
.nav-links .nav-previous{
	float: left;
}
.nav-links .nav-next{
	float: right;
}

.news-block .comments i {color:#00AEFF;}