
/*=================================================
           Capacious Customizer  Font Awesome Icon Lists
=================================================*/
.capacious-customize-icons .capacious-icons-list-wrapper{
    height: 200px;
    display: block;
    overflow-y: scroll;
    background: #CCCCCC;
    border: 1px solid #CCCCCC;
}
.capacious-customize-control-title{color: #000;}

.capacious-customize-icons .capacious-icons-list-wrapper li{
    display: block;
    float: left;
    padding: 14px;
    height: 19px;
    width: 19px;
    font-size: 19px;
    text-align: center;
    border-radius: 50%;
}
.capacious-customize-icons .capacious-icons-list-wrapper li:hover,
.capacious-customize-icons .capacious-icons-list-wrapper li.selected {
    background: #00AEF0;
    color: #fff;
}
.selected-icon-preview {
    background: #00AEF0;
    height: 25px;
    text-align: center;
    margin-bottom: 6px;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    color: #FFFFFF;
    padding-bottom: 3px;
}
.selected-icon-preview i {
    font-size: 18px;
    padding: 6px;
}

/*===================================
   Capacious Customizer section separator
====================================*/

.capacious-customize-section-wrap{
    background: #00AEF0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0px 1px 0px;
}